.canvas-grid {
  display: grid;
  border: 1px solid #000;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.canvas-pixel {
  border: 1px solid #ccc;
  cursor: pointer;
}

.canvas-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}
