<div class="canvas-controls">
    <mat-form-field>
        <mat-label>Art Name</mat-label>
        <input matInput [(ngModel)]="artName">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="saveArt()">Save</button>
    <button mat-raised-button (click)="newArt()">New</button>
</div>

<div class="canvas-grid" [style.grid-template-columns]="'repeat(' + width + ', 1fr)'">
  <div *ngFor="let row of pixels; let i = index" class="canvas-row">
    <div
      *ngFor="let pixel of row; let j = index"
      class="canvas-pixel"
      [style.background-color]="pixel"
      (click)="changePixelColor(i, j)"
    ></div>
  </div>
</div>
